<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create</title>
</head>

<body>
    <main>
        <form method="post">
            {% csrf_token %}
            {{form.as_p }}
            <button>submit</button>
        </form>
    </main>
</body>
</html>