<!DOCTYPE html>
<html lang="en">

<head>
    <title>Delete</title>
</head>

<body>
    <main>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete {{ todolist.name }}?</p>
            {{form.as_p }}
            <button>Delete</button>
        </form>
    </main>
</body>
</html>