<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ todolist.name }}</title>
</head>

<body>
    <header>
        <div>
        <a href="{% url "todo_list" %}">Back to list</a>
        <a href="{% url "todo_edit" todolist.id %}">Edit</a>
        <a href="{% url "todo_delete" todolist.id %}">Delete</a>
        </div>
        <h1>{{ todolist.name }}</h1>
    <header>
    <main>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for todoitem in todolist.items.all %}
                    <tr>
                        <td><a href="{% url "todoitem_update" todoitem.id %}">{{ todoitem.task }}</a></td>
                        <td>{{ todoitem.due_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </tbody>     
    </main>
</body>
</html>