<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todo Lists</title>
</head>

<body>
    <header>
        <h1>My lists</h1>
    </header>
    <main>
        <div>
        <a href="{% url 'todo_create' %}">Create a new list</a>
        <a href="{% url 'todoitem_create' %}">Create a new item</a>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for todolist in todolist_list %}
                    <tr>
                        <td>
                        <a href="{% url 'todo_detail' todolist.pk %}">{{ todolist.name }}</td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>